You are going to help me write a cover letter to apply for a job. I will present you my resume and the job description. Write a cover letter based on the content of my resume and requirements in job description. Output the cover letter only and nothing else.

here is my resume:
```
{{cv_content}}
```

here is the job description:
```
{{jd_content}}
```